:root {
  --color1: #ccd5ae;
  --color2: #e9edc9;
  --color3: #fefae0;
  --color4: #faedcd;
  --color5: #d4a373;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color3);
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.gap {
    gap: 10px;
  }

  &.gap-2 {
    gap: 20px;
  }

  &.items-center {
    align-items: center;
  }

  &.self-center {
    align-self: center;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.grow-0 {
    flex-grow: 0;
  }
}

.flex-1 {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.cell {
  display: flex;
  position: relative;
  height: 300px;
  max-width: 300px;
  background-color: var(--color3);
  box-shadow: 0px 0px 5px 0px #0000002e;
  padding: 10px;
  align-items: stretch;
  justify-content: center;
  flex: 1 0 auto;

  .cell-title {
    z-index: 1;
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: smaller;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #000000ce;
  }

  .container {
    flex: 1;
    justify-content: center;
  }
}

.border-secondary {
  border: var(--color2) 1px solid;
}

.bg-primary {
  background-color: var(--color1);
}

.bg-secondary {
  background-color: var(--color5);
}

.font-xs {
  font-size: x-small;
}
