:root {
  --color1: #ccd5ae;
  --color2: #e9edc9;
  --color3: #fefae0;
  --color4: #faedcd;
  --color5: #d4a373;

  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 16px;
  --spacing4: 32px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color3);
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: var(--spacing1);
}

.gap-2 {
  gap: var(--spacing2);
}

.gap-3 {
  gap: var(--spacing3);
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.m-1 {
  margin: var(--spacing1);
}

.p-1 {
  padding: var(--spacing1);
}

.p-2 {
  padding: var(--spacing2);
}

.border-secondary {
  border: var(--color2) 1px solid;
}

.bg-primary {
  background-color: var(--color1);
}

.bg-secondary {
  background-color: var(--color5);
}

.font-xs {
  font-size: x-small;
}

.font-xxl {
  font-size: xx-large;
}

.select-none {
  user-select: none;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.radius-1 {
  border-radius: var(--spacing1);
}

.radius-2 {
  border-radius: var(--spacing2);
}

.pointer-none {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

/*#region Cell Container*/
cell-container {
  display: flex;
  position: relative;
  height: 300px;
  max-width: 300px;
  box-shadow: 0px 0px 5px 0px #0000002e;
  padding: 10px;
  flex: 1 0 auto;
}

.cell-title {
  z-index: 1;
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: smaller;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #000000ce;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
}

/*#endregion*/