:root {
  --color-primary: #f8a5fb;
  --color-primary-hover: hsl(from var(--color-primary) h s calc(l + 3));
  --color-primary-active: hsl(from var(--color-primary-hover) h s calc(l + 3));
  --color-secondary: #6ab7ff;
  --color-background: #0f0f0f;
  --color-text: #FFFFFF;
  --color-text-secondary: #888888;
  --color-border: #484848;
  --color-input-border: #d0d0d0;
  --color-input-border-hover: var(--color-text);
  --spacing1: 4px;
  --spacing2: calc(var(--spacing1) * 2);
  --spacing3: calc(var(--spacing2) * 2);
  --radius1: 2px;
  --radius2: calc(var(--radius1) * 2);
  --elevation: 8;
  --elevation2: calc(var(--elevation) * 2);
}

/*#region Elements*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

input {
  background-color: transparent;
  border: 1px solid var(--color-input-border);
  border-radius: var(--radius1);
  color: var(--color-text);
  padding: var(--spacing2);
  padding-right: var(--spacing2);

  &:hover {
    border-color: var(--color-input-border-hover);
  }

  &:focus {
    border-color: var(--color-primary);
    outline: 0;
  }
}

button {
  display: flex;
  font-family: inherit;
  border: 0;
  border-radius: var(--radius1);
  font-weight: 600;
  cursor: pointer;
  padding: var(--spacing2);

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-background);

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
    }
  }
}

:is(p, span).secondary {
  color: var(--color-text-secondary);
}

a {
  text-decoration: none;
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-hover);
  }
}

/*#endregion*/

.elevation {
  background-color: hsl(from var(--color-background) h s calc(l + var(--elevation)));

  &.hover:hover {
    background-color: hsl(from var(--color-background) h s calc(l + var(--elevation) + 5));
  }
}

.elevation-2 {
  background-color: hsl(from var(--color-background) h s calc(l + var(--elevation2)));

  &.hover:hover {
    background-color: hsl(from var(--color-background) h s calc(l + var(--elevation2) + 5));
  }
}

.flex {
  display: flex;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: var(--spacing1);
}

.gap-2 {
  gap: var(--spacing2);
}

.gap-3 {
  gap: var(--spacing3);
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.hidden {
  visibility: hidden;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing1);
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing1);
}

.p-2 {
  padding: var(--spacing2);
}

.border-secondary {
  border: var(--color2) 1px solid;
}

.font-s {
  font-size: small;
}

.font-xs {
  font-size: x-small;
}

.font-xxl {
  font-size: xx-large;
}

.bold {
  font-weight: bold;
}

.select-none {
  user-select: none;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.radius-1 {
  border-radius: var(--spacing1);
}

.radius-2 {
  border-radius: var(--spacing2);
}

.pointer-none {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

/*#region Cell Container*/
cell-container {
  display: flex;
  position: relative;
  height: 300px;
  max-width: 300px;
  border: 1px solid var(--color-border);
  padding: var(--spacing3);
  flex: 1 0 auto;
}

.cell-title {
  z-index: 1;
  margin: 0;
  padding: 0 var(--spacing2) 0 var(--spacing2);
  font-size: smaller;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
}

/*#endregion*/