#star-rating>div {
  .mask {
    color: transparent;
    background-clip: text;
    clip-path: inset(0% 100% 0% 0%);
  }

  #value-visual-container {
    background-color: var(--color-primary);

    &.hover {
      transition: width .05s linear;
      background-color: var(--color-secondary);
    }
  }

  .star-icon {
    margin-bottom: .2em;
  }

  .rating-container {
    line-height: 100%;
    width: fit-content;
  }
}