#star-rating>div {
  .mask {
    color: transparent;
    background-clip: text;
  }

  #star-container {
    width: 0%;
    line-height: 100%;
    background-color: var(--color-primary);

    &.hover {
      background-color: var(--color-secondary);
    }
  }

  .rating-container {
    width: fit-content;
  }

  .star-background {
    line-height: 100%;
    color: var(--color-background);
  }
}