#flip-card {
  .flip-card-container {
    position: relative;
    perspective: 600px;
    max-width: 150px;
  }

  .card {
    display: block;
    background-color: var(--color-border);
    border-radius: 5px;
    width: 100%;
    height: 100%;

    .content {
      text-align: center;
      padding: 5%;
    }

    &.front {
      backface-visibility: hidden;
      transition: transform 0.2s linear;
      cursor: pointer;
    }

    &.back {
      position: absolute;
      backface-visibility: hidden;
      left: 0;
      top: 0;
      transform: rotateY(180deg);
      transition: transform 0.2s linear;
    }
  }

  &.flipped {
    .card {
      &.back {
        transform: rotateY(0deg);
      }

      &.front {
        transform: rotateY(-180deg);
      }
    }
  }
}