#flip-card {
  .flip-card-container {
    position: relative;
    max-width: 150px;
  }

  .card {
    display: block;
    background-color: var(--color-border);
    border-radius: 5px;
    width: 100%;
    height: 100%;

    .content {
      text-align: center;
      padding: 5%;

      &:hover {
        .hover-content {
          opacity: 1;
          transition: opacity .15s linear;
        }
      }

      .hover-content {
        position: absolute;
        display: block;
        align-content: center;
        text-align: center;
        user-select: none;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000bb;
        opacity: 0;
        transition: opacity .15s linear;
      }
    }

    &.front {
      backface-visibility: hidden;
      transition: transform 0.2s linear;
    }

    &.back {
      position: absolute;
      backface-visibility: hidden;
      left: 0;
      top: 0;
      transform: rotateY(180deg);
      transition: transform 0.2s linear;
    }
  }

  &.flipped {
    .card {
      &.back {
        transform: rotateY(0deg);
      }

      &.front {
        transform: rotateY(-180deg);
      }
    }
  }
}