.info-popup {
  position: relative;

  .popup-content {
    z-index: 100;
    position: absolute;
    outline: 1px solid var(--color-primary);
    padding: var(--spacing2);
    top: calc(var(--spacing2) * -1);
    left: calc(var(--spacing2) * -1);
    visibility: collapse;
    opacity: 0;
  }

  &:hover {
    .popup-content {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s linear;
    }
  }
}