#card-flip {
  .trading-card {
    position: relative;
    transform-style: preserve-3d;
    perspective: 600px;
    height: 80%;

    img {
      height: 100%;
      -webkit-user-drag: none;
      border-radius: 12px;

      &.front {
        transition: transform 0.3s linear;
        backface-visibility: hidden;
      }

      &.back {
        position: absolute;
        backface-visibility: hidden;
        left: 0;
        top: 0;
        transform: rotateY(180deg);
        transition: transform 0.3s linear;
      }
    }

    &:hover {
      img {
        &.back {
          transform: rotateY(0deg);
        }

        &.front {
          transform: rotateY(-180deg);
        }
      }
    }
  }
}