:root {
  --color-online: green;
  --color-away: orange;
  --color-busy: red;
}

.avatar {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  .icon {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    border-radius: 50%;
    border: hsl(from var(--color-background) h s calc(l + var(--elevation))) 2px solid;

    img {
      object-fit: cover;
      max-height: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
  }

  &:is(.online, .away, .busy) .icon {
    mask-image: none;
    /* Compatibility */
    -webkit-mask-image: radial-gradient(circle at 87.5% 87.5%, transparent 18%, black 0);
  }

  &:is(.online, .away, .busy)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
    width: 25%;
    border-radius: 50%;
  }

  &.online::after {
    background-color: var(--color-online);
  }

  &.away::after {
    background-color: var(--color-away);
    mask-image: none;
    /* Compatibility */
    -webkit-mask-image: radial-gradient(circle at 30% 30%, transparent 30%, black 0);
  }

  &.busy::after {
    background-color: var(--color-busy);
  }

  &.speaking:hover {
    .icon {
      border-color: var(--color-primary);
    }

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: inherit;
      outline: var(--color-primary) solid 0px;
      animation: avatar-speaker-ripple 500ms ease-out 0s infinite normal;
    }
  }
}

@keyframes avatar-speaker-ripple {
  from {
    outline-width: 0px;
    opacity: 1;
  }

  to {
    outline-width: 10px;
    opacity: 0;
  }
}