#nameplate {
  justify-content: flex-start;

  .status-container {
    height: 1.25em;
    overflow: hidden;

    .hover-status {
      transition: all .4s ease-out;
    }
  }

  :hover {
    .status-container .hover-status {
      margin-top: -1.25em;
    }
  }
}