#chat>div {
  .messages-container {
    flex: 1 1 auto;
    flex-direction: column-reverse;
    overflow-y: scroll;
    border-radius: inherit;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    /* Firefox */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      /* Chrome */
      display: none;
    }

    .messages {
      .message {
        &.sent {
          flex-direction: row-reverse;
          align-self: flex-end;

          .icon {
            color: var(--color-background);
            background-color: var(--color-primary);
          }

          .text-container {
            border-top-right-radius: 0;
          }
        }

        &.received {
          flex-direction: row;
          align-self: flex-start;

          .icon {
            color: var(--color-background);
            background-color: var(--color-secondary);
          }

          .text-container {
            border-top-left-radius: 0;
          }
        }

        .text-container {
          .text {
            word-break: break-word;
          }
        }
      }
    }
  }

  .inputs {
    margin-top: var(--spacing1);
  }

  .typing-notification {
    overflow: hidden;
    color: var(--color-text-secondary);
    padding-left: var(--spacing2);
    margin: 5px 0 0 0;
    height: 0;
    font-size: small;
    transition: height 0.4s;

    &.typing {
      height: 2em;
    }
  }
}