#spoiler-text {
  line-height: 1.4em;
  
  *.spoiler {
    background-color: gray;
    color: gray;
    border-radius: 5px;
    transition: background-color .1s linear;
    
    &.hover:hover {
      background-color: inherit;
      color: inherit;
    }

    &.hold:active {
      background-color: inherit;
      color: inherit;
    }

    &.click {
      user-select: none;
      
      &.show {
        user-select: auto;
        background-color: inherit;
        color: inherit;
      }
    }

    &.selection::selection{
      color: white;
    }
  }
}